<svg class="img-responsive" id="state_machine-task" width="1029pt" height="299pt"
 viewBox="0.00 0.00 1029.00 299.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 295)">
<title>workflow</title>
<polygon fill="white" stroke="none" points="-4,4 -4,-295 1025,-295 1025,4 -4,4"/>
<!-- place_todo -->
<g id="node1" class="node"><title>place_todo</title>
<ellipse fill="lightblue" stroke="#333333" cx="57.5" cy="-104.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-102.3" font-family="Arial" font-size="9.00">todo</text>
</g>
<!-- transition_start -->
<g id="node5" class="node"><title>transition_start</title>
<polygon fill="none" stroke="#333333" points="266,-205 151,-205 151,-90 266,-90 266,-205"/>
<text text-anchor="middle" x="208.5" y="-145.3" font-family="Arial" font-size="9.00">start</text>
</g>
<!-- place_todo&#45;&gt;transition_start -->
<g id="edge1" class="edge"><title>place_todo&#45;&gt;transition_start</title>
<path fill="none" stroke="#333333" d="M113.136,-120.267C123.796,-123.344 135.041,-126.589 145.908,-129.725"/>
<polygon fill="#333333" stroke="#333333" points="145.581,-131.452 150.871,-131.157 146.552,-128.089 145.581,-131.452"/>
</g>
<!-- transition_finish -->
<g id="node7" class="node"><title>transition_finish</title>
<polygon fill="none" stroke="#333333" points="568,-291 453,-291 453,-176 568,-176 568,-291"/>
<text text-anchor="middle" x="510.5" y="-231.3" font-family="Arial" font-size="9.00">finish</text>
</g>
<!-- place_todo&#45;&gt;transition_finish -->
<g id="edge5" class="edge"><title>place_todo&#45;&gt;transition_finish</title>
<path fill="none" stroke="#333333" d="M87.2977,-154.007C103.074,-176.284 124.776,-200.461 151,-213.5 245.982,-260.726 373.093,-254.006 447.653,-244.19"/>
<polygon fill="#333333" stroke="#333333" points="448.208,-245.881 452.929,-243.479 447.74,-242.412 448.208,-245.881"/>
</g>
<!-- place_in_progress -->
<g id="node2" class="node"><title>place_in_progress</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-147.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-145.3" font-family="Arial" font-size="9.00">in_progress</text>
</g>
<!-- transition_stop -->
<g id="node6" class="node"><title>transition_stop</title>
<polygon fill="none" stroke="#333333" points="568,-158 453,-158 453,-43 568,-43 568,-158"/>
<text text-anchor="middle" x="510.5" y="-98.3" font-family="Arial" font-size="9.00">stop</text>
</g>
<!-- place_in_progress&#45;&gt;transition_stop -->
<g id="edge3" class="edge"><title>place_in_progress&#45;&gt;transition_stop</title>
<path fill="none" stroke="#333333" d="M414.714,-130.399C425.465,-127.008 436.827,-123.424 447.806,-119.961"/>
<polygon fill="#333333" stroke="#333333" points="448.578,-121.552 452.82,-118.379 447.525,-118.214 448.578,-121.552"/>
</g>
<!-- place_in_progress&#45;&gt;transition_finish -->
<g id="edge7" class="edge"><title>place_in_progress&#45;&gt;transition_finish</title>
<path fill="none" stroke="#333333" d="M409.701,-175.898C422.115,-183.063 435.592,-190.842 448.508,-198.297"/>
<polygon fill="#333333" stroke="#333333" points="447.66,-199.827 452.865,-200.811 449.409,-196.796 447.66,-199.827"/>
</g>
<!-- place_done -->
<g id="node3" class="node"><title>place_done</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-233.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-231.3" font-family="Arial" font-size="9.00">done</text>
</g>
<!-- transition_reopen -->
<g id="node8" class="node"><title>transition_reopen</title>
<polygon fill="none" stroke="#333333" points="870,-115 755,-115 755,-0 870,-0 870,-115"/>
<text text-anchor="middle" x="812.5" y="-55.3" font-family="Arial" font-size="9.00">reopen</text>
</g>
<!-- place_done&#45;&gt;transition_reopen -->
<g id="edge9" class="edge"><title>place_done&#45;&gt;transition_reopen</title>
<path fill="none" stroke="#333333" d="M699.331,-189.994C717.417,-168.632 739.521,-142.522 759.311,-119.146"/>
<polygon fill="#333333" stroke="#333333" points="760.826,-120.064 762.721,-115.118 758.155,-117.803 760.826,-120.064"/>
</g>
<!-- transition_close -->
<g id="node9" class="node"><title>transition_close</title>
<polygon fill="none" stroke="#333333" points="870,-291 755,-291 755,-176 870,-176 870,-291"/>
<text text-anchor="middle" x="812.5" y="-231.3" font-family="Arial" font-size="9.00">close</text>
</g>
<!-- place_done&#45;&gt;transition_close -->
<g id="edge11" class="edge"><title>place_done&#45;&gt;transition_close</title>
<path fill="none" stroke="#333333" d="M719.256,-233.5C729.2,-233.5 739.593,-233.5 749.667,-233.5"/>
<polygon fill="#333333" stroke="#333333" points="749.902,-235.25 754.902,-233.5 749.902,-231.75 749.902,-235.25"/>
</g>
<!-- place_resolved -->
<g id="node4" class="node"><title>place_resolved</title>
<ellipse fill="none" stroke="#333333" cx="963.5" cy="-233.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="963.5" y="-231.3" font-family="Arial" font-size="9.00">resolved</text>
</g>
<!-- transition_start&#45;&gt;place_in_progress -->
<g id="edge2" class="edge"><title>transition_start&#45;&gt;place_in_progress</title>
<path fill="none" stroke="#333333" d="M266.256,-147.5C276.2,-147.5 286.593,-147.5 296.667,-147.5"/>
<polygon fill="#333333" stroke="#333333" points="296.902,-149.25 301.902,-147.5 296.902,-145.75 296.902,-149.25"/>
</g>
<!-- transition_stop&#45;&gt;place_todo -->
<g id="edge4" class="edge"><title>transition_stop&#45;&gt;place_todo</title>
<path fill="none" stroke="#333333" d="M452.571,-86.204C440.88,-83.8301 428.599,-81.7397 417,-80.5 299.447,-67.9367 268.271,-65.5342 151,-80.5 140.154,-81.8842 128.761,-84.1463 117.823,-86.7427"/>
<polygon fill="#333333" stroke="#333333" points="117.277,-85.0744 112.833,-87.9572 118.105,-88.4751 117.277,-85.0744"/>
</g>
<!-- transition_finish&#45;&gt;place_done -->
<g id="edge6" class="edge"><title>transition_finish&#45;&gt;place_done</title>
<path fill="none" stroke="#333333" d="M568.256,-226.923C578.2,-226.726 588.593,-226.697 598.667,-226.837"/>
<polygon fill="#333333" stroke="#333333" points="598.873,-228.591 603.902,-226.926 598.933,-225.092 598.873,-228.591"/>
</g>
<!-- transition_finish&#45;&gt;place_done -->
<g id="edge8" class="edge"><title>transition_finish&#45;&gt;place_done</title>
<path fill="none" stroke="#333333" d="M568.256,-240.077C578.2,-240.274 588.593,-240.303 598.667,-240.163"/>
<polygon fill="#333333" stroke="#333333" points="598.933,-241.908 603.902,-240.074 598.873,-238.409 598.933,-241.908"/>
</g>
<!-- transition_reopen&#45;&gt;place_todo -->
<g id="edge10" class="edge"><title>transition_reopen&#45;&gt;place_todo</title>
<path fill="none" stroke="#333333" d="M754.892,-44.4819C694.834,-31.8259 597,-14.5 511.5,-14.5 358.5,-14.5 358.5,-14.5 358.5,-14.5 270.306,-14.5 173.446,-50.6254 114.301,-77.1013"/>
<polygon fill="#333333" stroke="#333333" points="113.241,-75.6593 109.403,-79.3103 114.681,-78.8498 113.241,-75.6593"/>
</g>
<!-- transition_close&#45;&gt;place_resolved -->
<g id="edge12" class="edge"><title>transition_close&#45;&gt;place_resolved</title>
<path fill="none" stroke="#333333" d="M870.256,-233.5C880.2,-233.5 890.593,-233.5 900.667,-233.5"/>
<polygon fill="#333333" stroke="#333333" points="900.902,-235.25 905.902,-233.5 900.902,-231.75 900.902,-235.25"/>
</g>
</g>
</svg>
